<section class="pageTitle">
    <h2>Welcome {{name}}.</h2>
</section>



<div class='newPostCard'>
  <div class='forum-newPost'></div>
  <form class="form new-blog-post-form">
    <p >Create a new blog post:</p>
    <div class="form-group">
      <label for="title">Title:</label>
      <input class="form-input" type="text" id="title" name="title" placeholder="ENTER BLOG-Post Title" value="{{ blogposts.title }}"/>
    </div>
    <div class="form-group">
      <label for="content">Post-Content:</label>
      <textarea class="form-input" id="content" name="content" placeholder="Enter Blog-Post content" value="{{ blogpost.content }}"></textarea>
    </div>
    <div class="su">
      <button type="submit" id='createPost-btn' class="btn createPost-btn">Create</button>
    </div>
  </form>
  </div>
  {{#if blogposts.length}}


  {{#each blogposts as |blog|}}
  <div class="card">

      <div class='card-head'>
        <h3 class='post-title' href="/blogs/{{blog.id}}">{{ blog.title}}</h3>
        <div class='name-date-div'>
          <p class='user-name'>Posted by: {{user.name}} </p>
          <p class='date-created'>  on {{blog.date_created}}</p>
        </div>
      </div>

      <div class="card-body">
        <p class='post-content'>{{blog.content}}</p>
        <div class='deletePostDiv'>
          <button type="submit" class="btn deletePostBtn" id='deletePostBtn' data-id="{{blog.id}}">Delete</button>
        </div>
      </div>
      
    </div>
  {{/each}}
{{/if}}
<script src="/js/dashboard.js"></script>