


{{#if logged_in}}



  {{#if blogs.length}}
  <div class="blog-post-list">
    <h3>Blog Post's</h3>

    {{#each blogs as |blog|}}
    <div class="card">
      <div class='card-head'>
        <p class='post-title' href="/blogs/{{blog.id}}">{{ blog.title}}</p>
      </div>
        <p class='post-content'>{{blog.content}}</p>
      
      <div class='deleteComment'>
        <button type="button"class="btn-deleteComment" data-id="{{blog.id}}">Delete</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
{{else}}
  <div class="homepage-signup">
    <p>to create A Tech-Blog Post <a href="/login">Login</a> Or <a href="/signup">Sign-up</a></p>

  </div> 

  {{#if blogs.length  }}
  <div class=" blog-post-list">
    <h3>Blog Post's</h3>

    {{#each blogs as |blog|}}
    <div class="card">
      <div class="post-card-head">
        <h4 class="post-title"> {{blog.title}}</h4>
      </div>
      <div class="post-card-body">  
        <p>{{blog.content}}</p>
      </div>
    </div>
    {{/each}}
   {{/if}} 
{{/if}} 


{{!--  --}}

<script src="/js/homepage.js"></script>