{{#if logged_in}}
  {{#if blogs.length}}
  <div class="blog-post-list">
    <h3>Blog Post's Home-Page:</h3>
    {{#each blogs as |blog|}}
    <div class="card">

      <div class='card-head'>
        <h3 class='post-title' href="/blogs/{{blog.id}}">{{ blog.title}}</h3>
        <div class='name-date-div'>
        <p class='user-name'>Posted by: <b> {{user.name}} </b> </p>
        <p class='date-created'>  on {{blog.date_created}}</p>
        </div>
      </div>

      <div class="card-body">
        <p class='post-content'>{{blog.content}}</p>
      </div>

    </div>

   {{/each}}
  </div>
  {{/if}}
{{!-- if not logged-in --}}
{{else}}
  <div class="homepage-signup">
    <p><b>To Create You're own Tech-Blog Post <a href="/login">Login</a> Or <a href="/signup">Sign-up!</a></b></p>
  </div> 

  {{#if blogs.length  }}
  <div class=" blog-post-list">
    <h3>Blog Post's Home-Page:</h3>
    {{#each blogs as |blog|}}
   <div class="card">

      <div class='card-head'>
        <h3 class='post-title' href="/blogs/{{blog.id}}">{{ blog.title}}</h3>
        <div class='name-date-div'>
        <p class='user-name'>Posted by: {{user.name}} </p>
        <p class='date-created'>  on {{blog.date_created}}</p>
      </div>

      
      <div class="card-body">
        <p class='post-content'>{{blog.content}}</p>
      </div>
      
    </div>
    {{/each}}
   {{/if}} 
{{/if}} 

<script src="/js/homepage.js"></script>